* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}

.logo {
    width: 66%;
    max-width: 100px;
    /* Adjust the value as needed */
    height: auto;
    display: block;
    /* Prevents any alignment issues with inline elements */
    margin: 0 auto;
    /* Center the image horizontally */
}

.side-by-side-container {
    display: flex;
    justify-content: space-between;
    /* Create space between the two content blocks */
    width: 66%;
    max-width: 1000px;
    /* Adjust the maximum width as needed */
    margin: 0 auto;
    /* Center the container horizontally */
    padding: 20px;
    text-align: left;
    /* Reset text alignment */
}

.left-content {
    flex: 1;
    /* Let the left content grow to fill available space */
    padding-right: 20px;
    /* Add some spacing between the content blocks */
}

.right-content {
    flex: 1;
    display: flex;
    /* Use flexbox */
    flex-direction: column;
    /* Arrange items vertically */
    justify-content: top;
    /* Center items vertically */
    align-items: center;
    /* Center items horizontally */
}

.center-container {
    max-width: 800px;
    /* Adjust the maximum width as needed */
    margin: 0 auto;
    /* Center the container horizontally */
    padding: 20px;
    text-align: left;
    /* Reset text alignment */
}


p {
    margin: 1em 0;
    max-width: 66%;
    /* Set a maximum width for the paragraphs */
    margin: 0 auto;
    /* Center the paragraphs horizontally */
}

.separator-row {
    border-bottom: 1px solid #000;
    /* Adjust as needed */
}

#chordInfo img,
#aviatorInfo img,
#wwt1Info img,
#mediumWheelStInfo img,
#mediumWheelInfo img,
#carJackInfo img,
#huntsmanInfo img,
#sprinterInfo img,
#LuparaInfo img,
#smallWheelStInfo img,
#smallWheelInfo img,
#radioInfo img,
#r1BreezeInfo img,
#rubyInfo img,
#avengerInfo img,
#dockerInfo img,
#fuelBarrelInfo img,
#littleBoyInfo img,
#rapierInfo img,
#r2ChillInfo img,
#spitfireInfo img,
#taymyrInfo img,
#ammoPackInfo img,
#horizonInfo img,
#balloonTyreInfo img,
#blastoffInfo img,
#studdedWheelInfo img,
#studdedWheelStInfo img,
#sledgehammerinfo img,
#waspInfo img,
#growlInfo img,
#bigGInfo img,
#chainedWheelInfo img {
    /* Add your desired styles here */
    margin-top: 2em;
    /* Adjust the value as needed for the desired spacing between the text and the image */
    margin-bottom: 2em;

}

.recommendationText {
    font-size: 18px;
    font-weight: bold;
    color: #FF6600;
    line-height: 2;
    /* Adjust the value as needed for the desired line spacing */
    margin-bottom: 4px;
    /* Adjust the value as needed for the desired spacing between lines */


}

.footerText {
    font-size: 18px;
    font-weight: bold;
    color: #FF6600;
    line-height: 2;
    margin-bottom: 4px;
}

.workbenchText {
    font-size: 16px;
    padding: 6px;
    margin-bottom: 4px;
    font-weight: bold;
    color: #FF6600;
}

.workbenchOption {
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #FF6600;
    background-color: #222222;
    color: #FFFFFF;
    margin-bottom: 4px;
    text-align: center;
}

.recommendationText2 {
    font-size: 18px;
    font-weight: bold;
    color: #FF6600;
    line-height: 2;
    /* Adjust the value as needed for the desired line spacing */
    margin-top: 4px;
    /* Adjust the value as needed for the desired spacing between lines */
    border-style: solid;
    border-width: thick;
    border-color: #df9c00;
    background-color: #4c4b4b;
    padding: 10px;

}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 2px;
    border: 4px solid #FF6600;
    border-radius: 8px;
    display: inline-block;
    padding: 10px;
}

h1 br {
    display: block;
    content: "";
    margin-top: 10px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: #FF6600;
}

input[type="number"] {
    font-size: 16px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #FF6600;
    background-color: #222222;
    color: #FFFFFF;
}

input[type="submit"],
.button-style {
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #FF6600;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 4px;
}

hr {
    height: 1px;
    border: none;
    border-top: solid;
    color: #847165;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

}

table {
    margin-left: auto;
    margin-right: auto;
    width: 66%;
}

#donationLink {
    text-align: center;
}

#donationLink a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #ff7f00;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#donationLink a:hover {
    background-color: #3c3c3c;
}

/* Add this to your existing CSS */

.nav-bar {
    border-bottom: 2px solid #ff7f00;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 33%;
    margin: 0 auto;
}

.nav-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-bar li {
    margin: 0 15px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-bar a:hover {
    color: #ff7f00;
}

/* Add a little animation for hover effect */
.nav-bar a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #ff7f00;
    transition: width 0.3s ease;
}

.nav-bar a:hover::after {
    width: 100%;
}



/* Add this to your existing CSS */

/* Apply consistent styling to table header */
table th {
    font-weight: bold;
    background-color: #333333;
    color: white;
    padding: 10px;
}

/* Apply consistent styling to table cells */
table td {
    padding: 10px;
    background-color: #222222;
    color: white;
    border: 1px solid #333333;
    text-align: center;
}

/* Apply consistent styling to input fields */
table input[type="number"] {
    font-size: 16px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #FF6600;
    background-color: #222222;
    color: #FFFFFF;
    width: 100%;
    /* Make sure input fields expand to fill the cell */
    box-sizing: border-box;
    /* Include padding and border in the width */
}

/* Apply consistent styling to buttons */
.button-style {
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #FF6600;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 4px;
}

/* Apply consistent styling to span elements */
table span {
    display: inline-block;
    padding: 6px;
    border-radius: 4px;
    background-color: #222222;
    color: white;
}

/* Apply consistent styling to the table rows */
table tr {
    text-align: center;
    /* Center align the content in all cells */
}

/* Add hover effect to table rows */
table tr:hover {
    background-color: #333333;
    transition: background-color 0.3s ease;
}



/* Apply consistent styling to select elements */
table select {
    font-size: 16px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #FF6600;
    background-color: #222222;
    color: #FFFFFF;
    width: 100%;
    /* Make sure the select box expands to fill the cell */
    box-sizing: border-box;
    /* Include padding and border in the width */
}

/* Add responsive styling for smaller screens */
@media (max-width: 768px) {
    table {
        font-size: 14px;
        /* Decrease font size for smaller screens */
    }
}
